*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    --bg: #101010;
    scroll-behavior: smooth;
    --font-1: 'Montserrat', sans-serif;
    --font-2: 'Playfair Display', serif;
}

img {
    display: block;
    max-width: 100%;
}

a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bg);
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.navbar {
    position: fixed;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    z-index: 1000;
    height: 8vh;
}

nav {
    z-index: 1002;
    transition: all .5s;
}

.navlist {
    display: flex;
    gap: 2rem;
}

.brand {
    font-size: 2ch;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: var(--font-2);
    display: grid;
    place-items: center;
}

.brand a {
    color: white;

}

.navlist li {
    list-style: none;
    font-size: 1.5ch;
    padding: 5px;
}

.navlist li a {
    color: white;

}

.burger {
    display: none;
    z-index: 1002;
}

.line {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all .5s;
}


#home {
    height: 100vh;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#home img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 55%;
    padding-bottom: 2rem;
    z-index: -1;
}

.head {
    width: 85%;
    font-size: 6ch;
    font-family: var(--font-2);
    letter-spacing: 2px;
    overflow: hidden;
}

.head span {
    transform: translateY(100%);
    display: inline-block;
}

#home p {
    width: 85%;
    font-size: 2.2ch;
    margin: 2rem 0;
}

.cta {
    letter-spacing: 1px;
    font-size: 2ch;
    font-weight: 600;
    width: 85%;

}

.cta a {
    position: relative;
}

.cta a::after {
    position: absolute;
    content: '';
    bottom: -10px;
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transition: transform .5s;
}

.cta a:hover::after {
    transform: scaleX(.6);
}

.intro {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    width: 70%;
}

.intro img {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    transform: translateY(80%);
}

.intro-ct {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.i1 {
    font-size: 3ch;
}

.i1 span {
    font-weight: 600;
}

.i2 {
    font-size: 1.5ch;
}

.showcase {
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
}

.showcase>span {
    width: 95%;
    font-size: 2.5ch;
    /* margin-left: 15px; */
}

.showcase img {
    width: 98%;
    height: 90vh;
    object-fit: cover;
    border-radius: 10px;
    transition: transform .5s;

}

.showcase img:hover {
    transform: scale(.97);
}

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 5rem 0;
}

.features>span {
    width: 95%;
    font-size: 2.5ch;
    margin-left: 10px;
    margin-bottom: 4px;
}

.f {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(240, 238, 238, 0.479);
    padding: 1rem 0;
    position: relative;
    height: 10rem;
    flex-wrap: wrap;
}

.f:nth-last-of-type(1) {
    border-bottom: 1px solid rgba(240, 238, 238, 0.479);
}

.f h2 {
    font-size: 7ch;
    font-family: var(--font-2);
    z-index: 2;
    padding-left: 10px;
}

.f span {
    width: 50%;
    font-size: 1.5ch;
    z-index: 2;
    opacity: 0;
}

.f::after {
    position: absolute;
    content: '';
    inset: 0;
    background-color: rgb(55, 52, 61);
    transform: scaleY(0);
    transition: transform .5s;
}

.f:hover::after {
    transform: scaleY(1);
}

.f:hover.f span {
    opacity: 1;
}

.testimonials {
    min-height: 150vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials>span {
    width: 80%;
    font-size: 2.5ch;
    margin-left: 2px;
    margin-bottom: 7px;
}

.testimonial {
    width: 80%;
    padding: 1.5rem 0;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.testimonial:nth-of-type(1) {
    border-top: 1px solid white;
}

.tc {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.tc p {
    width: 65%;
}

.tr {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-size: 2ch;
}

.tc img {
    width: 100px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

footer {
    background-color: #0c0c0c;
    /* min-height: 40vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 1rem 0;
    margin-top: 5rem;
}

.f1 {
    display: flex;
    justify-content: space-around;
    width: 90%;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.c {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.c a{
    font-size: 1.5ch;
}
.f2 {
    display: flex;
    width: 90%;
    justify-content: space-between;
    padding: 1rem 0;
    font-size: 1.7ch;
    flex-wrap: wrap;
}

.icons{
    display: flex;
    gap: 5rem;
}
i{
    padding: 10px;
}
.tail{
    width: 30px;
    aspect-ratio: 1/ 1;
    border-radius: 50%;
    background-color: white;
    mix-blend-mode: difference;
    position: fixed;
    pointer-events: none;
    z-index: 1003;
    transition: transform .5s;

}

.tail.grow {
    transform: scale(3);
}
.tail.grow2 {
    transform: scale(5);
}
.tail.grow3 {
    transform: scale(1.6);
}

.tail span{
    display: none;
    color: black;
    font-size: 4px;
}

.tail.tview {
    transform: scale(6);
    display: grid;
    place-items: center;
}
.view.active{
    display: inline-block;
}
.watch.active{
    display: inline-block;
}

@media (max-width: 550px){
    .wrapper{
        width: 90%;
        flex-direction: column-reverse;
    }
    .f{
        height: 15rem;
        justify-content: center;
    }
    .f h2{
        font-size: 5ch;
        padding: 0;
    }
    .f span{
        opacity: 1;
        width: 90%;
        text-align: center;
    }
    .icons{
        gap: 3rem;
    }
    .brand{
        font-size: 1ch;
    }
    .navlist{
        gap: 3px;
    }
    .navlist li{
        font-size: 1ch;
    }
    .head{
        font-size: 3.5ch;
        width: 90%;
    }
    #home p{
        width: 90%;
        font-size: 1.7ch;
    }
    .cta{
        width: 90%;
        font-size: 1.5ch;
    }
    .testimonial{
        width: 90%;
    }
    .testimonials>span{
        width: 90%;
    }
    .tr, .tc p{
        width: auto;
    }
    .tc{
        flex-direction: column-reverse;
    }
}